@model RenoRator.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/shared/main_layout.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.fname)*@
            First Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fname)
            @Html.ValidationMessageFor(model => model.fname)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.lname)*@
            Last Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lname)
            @Html.ValidationMessageFor(model => model.lname)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.email)*@
            Email Address
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.password)*@
            <input class="input-validation-error text-box single-line" id="password" name="password" type="password">
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
