@model IEnumerable<RenoRator.Models.JobAd>
@using System.Linq

@{
    ViewBag.Title = "Ads";
    Layout = "~/Views/shared/main_layout.cshtml";
}

<h2>Ads</h2>

<p>
    @Html.ActionLink("Create New", "Post")
</p>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="three_column_middle">
            <input type="hidden" value="@item.address.addressLine1" />
            <input type="hidden" value="@item.address.postalCode" />
            <input type="hidden" value="@item.address.province" />
            <h2>User Name</h2>
            <p>@Html.DisplayFor(modelItem => item.user.fname) @Html.DisplayFor(modelItem => item.user.lname)</p>
            <h2>Price Range</h2>
            <p>@Html.DisplayFor(modelItem => item.pricerange.min) - @Html.DisplayFor(modelItem => item.pricerange.max)</p>
            <h2>Description</h2>
            <p>@Html.DisplayFor(modelItem => item.description)</p>
            <h2>Target End Date</h2>
            <p>@Html.DisplayFor(modelItem => item.targetEndDate)</p>

            <!--@Html.ActionLink("Edit", "Edit", new { id = item.jobAdID }) |
            @Html.ActionLink("Details", "Details", new { id = item.jobAdID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.jobAdID })-->
        </div>
    }
}
else
{
    <div class="three_column_middle">
        <p>Sorry, there are no ads availible right now. Try again later.</p>
    </div>
}
