@model IEnumerable<RenoRator.Models.JobAd>
@using System.Linq

@{
    ViewBag.Title = "Ads";
    Layout = "~/Views/shared/main_layout.cshtml";
}

<h2>Ads</h2>

<p>
    @Html.ActionLink("Create New", "Post")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priceRangeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.galleryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.targetEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@if( Model != null )
{
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priceRangeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.galleryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.targetEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.jobAdID }) |
                @Html.ActionLink("Details", "Details", new { id=item.jobAdID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.jobAdID })
            </td>
        </tr>
    }
}

</table>
