@model RenoRator.Models.JobAd
@using System.Linq

@{
    ViewBag.Title = "Post";
    Layout = "~/Views/shared/main_layout.cshtml";
}

<div class="two_column_left"></div>
<div class="two_column_right">

    <div class="form_container">
        <h2>New Job Ad</h2>

        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true)

            <div class="form-row">
                <label>Address Line 1:</label>
                @Html.ValidationMessageFor(model => model.address.addressLine1)
                @Html.EditorFor(model => model.address.addressLine1)
            </div>

            <div class="form-row">
                <label>Address Line 2:</label>
                @Html.ValidationMessageFor(model => model.address.addressLine2)
                @Html.EditorFor(model => model.address.addressLine2)
            </div>

            <div class="form-row">
                <label>Postal Code:</label>
                @Html.ValidationMessageFor(model => model.address.postalCode)
                @Html.EditorFor(model => model.address.postalCode)
            </div>

            <div class="form-row">
                <label>City:</label>
                @Html.ValidationMessageFor(model => model.address.cityID)
                @Html.DropDownList("address.cityID", ViewBag.cities as SelectList, "Select a city", new { id = "address.cityID" })
            </div>

            <div class="form-row">
                <label>Price Range:</label>
                @Html.ValidationMessageFor(model => model.priceRangeID)
                @Html.DropDownList("priceRangeID", ViewBag.priceranges as SelectList, "Select a price range", new { id = "priceRangeID" })
            </div>
        <div class="form-row">
            <label>Tags (Comma separate)</label>
            @Html.EditorFor(model => model.tags)
            @Html.ValidationMessageFor(model => model.tags)
        </div>

        <div class="form-row">
            <label>description</label>
            @Html.TextAreaFor(model => model.description,new {@rows = 14, @cols = 60})
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="form-row">
            <input type="button" value="Upload Image" />
        </div>

        <div class="form-row">
            <label>Target Completion Date</label>
            @Html.EditorFor(model => model.targetEndDate)
            @Html.ValidationMessageFor(model => model.targetEndDate)
        </div>

        <p>
            <input type="submit" value="Create" class="orange_btn" />
        </p>

        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(function () {
        $("#targetEndDate").datepicker({ dateFormat: "yy-mm-dd" });
    });
</script>
@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
